@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    width: 100%;
    height: 100%;
}

#flex-table {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#flex-table .flex-ex-cell {
    display: flex;
    width: 33%;
    border: 1px solid black;
}

.table-flex-row {
    width: 100%;
    height: 33%;
    display: flex;
    gap: 5px;
}

#grid-example {
    grid-template-areas: "header header header header" "background background background background" "footer footer footer footer";
}

#grid-head {
    grid-area: header;
}

#grid-background {
    grid-area: background;
}

#grid-footer {
    grid-area: footer;
}

#position-example button {
    border: 1px solid black;
    border-radius: 3px;
}

@layer components {
    .example-container {
        @apply w-52 h-52 p-2 m-2 border-black border-2;
    }
}
