@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 100%;
  height: 100%;
}

#flex-table .flex-ex-cell{
    display: flex;
    width: 33%;
    border: 1px solid black;
}

.table-flex-row {
    width: 100%;
    height: 33%;
    display: flex;
}

#grid-example {
  grid-template-areas:
    "header header header header"
    "background background background background"
    "footer footer footer footer"
}

#grid-head {
  grid-area: header;
}

#grid-background {
  grid-area: background;
}

#grid-footer {
  grid-area: footer;
}
