<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a mi presentación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="img-bottom-left"></div>
    <div id="img-top-right"></div>
    <div id="carta">
      <h1 id="titulo">Bienvenidos a mi carta de presentación</h1>
      <div class="text">Esta página fue desplegada por mi mismo usando AWS</div>
      <div class="text">Acá hay una pequeña demostración de mis conocimientos en frontend</div>
      <ul id="lista-de-fronts">
        <a href="vueFront/"><li style="background-color: rgba(0,192,127,255);">Vue.js</li></a>
        <a href="reactFront/"><li style="background-color: rgba(27,161,204,255);">React.js</li></a>
        <a href="tailwindFront/"><li style="background-color: rgba(55,188,247,255);">Tailwind</li></a>
        <a href="bootstrapFront/"><li style="background-color: rgba(123,24,247,255);">Bootstrap</li></a>
      </ul>
      <div class="text desvanecido">¿Es un buen momento de decir que no soy diseñador?</div>
    </div>
  </body>
</html>